{{> header}}
<table>
  <tr>
    <th><b><u>Name</u></b></th>
    <th><b><u>Active</u></b></th>
  </tr>
  {{#users}}
  <tr>
    <th>{{name}}</th>
    <th>{{active}}</th>
  </tr>
  {{/users}}
  <br/><br/>
</table>
{{> footer}}
